In [1]:
import numpy as np
import json
from pathlib import Path
from pprint import pprint
from tqdm import tqdm
import pandas as pd

In [9]:
data_path = Path('/Users/wcz/Beanflows/All_Beans/swift4tf/language2motion.gt/data/motion-viewer-info/')

In [10]:
c3d_df = pd.read_csv(data_path/'c3d_markers.csv')

In [14]:
c3d_df.head()

   sample_id  num_labels                                             labels
0          1          53  ['RPSI', 'LPSI', 'L3', 'STRN', 'T10', 'C7', 'C...
1          2          54  ['RPSI', 'LPSI', 'L3', 'STRN', 'T10', 'C7', 'C...
2          3          53  ['RPSI', 'LPSI', 'L3', 'STRN', 'T10', 'C7', 'C...
3          4          53  ['RPSI', 'LPSI', 'L3', 'STRN', 'T10', 'C7', 'C...
4          5          53  ['RPSI', 'LPSI', 'L3', 'STRN', 'T10', 'C7', 'C...

In [12]:
labels_df = pd.read_csv(data_path/'labels_ds_v2.csv')

In [13]:
labels_df.head()

,sample_id,text,manual,old_label,label
0,1,A person is walking forwards.,NaN,Walking or running,Walking or running
1,2,A person walks 4 steps forward.,NaN,Walking few steps,Walking few steps
2,3,A human walking,NaN,Walking or running,Walking or running
3,4,A person walks forward at medium speed.,NaN,Walking or running,Walking or running
4,5,A human walks four slow steps forward,NaN,Walking few steps,Walking few steps

In [20]:
c3d2_df = c3d_df.merge(labels_df[['sample_id', 'text']], how='left', on='sample_id')
c3d2_df

,sample_id,num_labels,labels,text
0,1,53,"['RPSI', 'LPSI', 'L3', 'STRN', 'T10', 'C7', 'C...",A person is walking forwards.
1,2,54,"['RPSI', 'LPSI', 'L3', 'STRN', 'T10', 'C7', 'C...",A person walks 4 steps forward.
2,3,53,"['RPSI', 'LPSI', 'L3', 'STRN', 'T10', 'C7', 'C...",A human walking
3,4,53,"['RPSI', 'LPSI', 'L3', 'STRN', 'T10', 'C7', 'C...",A person walks forward at medium speed.
4,5,53,"['RPSI', 'LPSI', 'L3', 'STRN', 'T10', 'C7', 'C...",A human walks four slow steps forward
...,...,...,...,...
3906,3962,41,"['subject:LFHD', 'subject:RFHD', 'subject:LBHD...",A person runs straight forward.
3907,3963,41,"['subject:LFHD', 'subject:RFHD', 'subject:LBHD...",NaN
3908,3964,41,"['subject:LFHD', 'subject:RFHD', 'subject:LBHD...",A person is sprinting up and down a small hill...
3909,3965,41,"['subject:LFHD', 'subject:RFHD', 'subject:LBHD...","A person runs forward, briefly touches the gro..."
3910,3966,41,"['subject:LFHD', 'subject:RFHD', 'subject:LBHD...",a person stumbles on the ground but gets up an...

In [21]:
c3d2_df.to_csv(data_path/'c3d_markers2.csv', index=None)